{% extends 'base.html' %}

{% block title %}Counter!{% endblock %}


{% block content %}
<div class="mx-auto d-flex flex-column align-items-center" style="height: 800px; width: 1000px;">

    <h1>COUNTER</h1>
    <p>{{session['counter']}} times.</p>
    <p>Page Visits {{session['pagevisits']}}</p>

    <form action="/plus2" method="post">
        <button class="btn btn-primary">Plus 2</button>
    </form>
    
    <a href="/destroy_session">
        <button class="btn btn-danger">RESET</button>
    </a>

    
    <form action="/howmany" method="post">
        <label>Add by:</label>
        <input type="number" name="num" class="box">
        <button class="btn btn-warning">Submit</button>
    </form>

</div>





{% endblock %}