body {
    background-color: blanchedalmond;
}

#mainbox {
    display: flex;
    justify-content: space-evenly;
}

.dojotitle{
    
    margin: 20px;
    text-align: center;
}

.bluebutton {
    background-color: blue;
    color: white;
}

.cleanerform {
    display: flex;
    flex-direction: column;
}

.codered {
    color: red;
}